

<div class="content">

    <h3 class="title" >About Us</h3>
    <div class="inner-content">
        <h4>TextNinjais</h4> is a tool designed to help people with dyslexic to improve their reading abilities. Features such as automatic row highlighting, word parsing by syllables and text-to-speech etc.
    </div>
</div>