<div id='bottom' >
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link bottom-nav-link about" href="#">About</a>
                </li>
                <li class="nav-item active">
                    <a id="smallLogo" class="nav-link bottom-nav-link home" href="#">TextNinja <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav bottom-nav-link contact" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<script src="/assets/js/navbar.js"></script>