<h1 id="<%= ((typeof pageID != 'undefined')&&(pageID === 4))? 'toDividePractice' : 'toDivide'%>" ></h1></br>
<b>Select number of Syllables:</b>
<select id="<%= ((typeof pageID != 'undefined')&&(pageID === 4))? 'numOfSyllablesPractice' : 'numOfSyllables'%>" name="num" class="selectNumOfSyll">
</select></br></br>
<div id="<%= ((typeof pageID != 'undefined')&&(pageID === 4))? 'wrapSyllablesPractice' : 'wrapSyllables'%>" >

</div>
<input id="<%= ((typeof pageID != 'undefined')&&(pageID === 4))? 'submitSyllablesPractice ': 'submitSyllables'%>" type="submit" name="submit syllables" value="Submit" /><br/>
<script src="/assets/js/divide-to-syllables.js"></script>