<h1 class="toDivide" ></h1></br>
<b>Select number of Syllables:</b>
<select name="num" class="selectNumOfSyll">
</select></br></br>
<div class="wrapSyllables" >

</div>
<input class="submitSyllables" type="submit" name="submit syllables" value="Submit" />
<script src="/assets/js/divide-to-syllables.js"></script>