<div id="fixSyll-box">
    <div class="center">
        <h1>Fix The Syllables Of :</h1><h1 id='toFix'></h1></br>
        <b>Select number of Syllables:</b>
        <select id = "syllCount" name="num">
        </select></br></br>
        <div id="inputSyllablses">

        </div>
        <input id="submitFixSyll" type="submit" name="logIn_submit" value="Submit" /><br/>
    </div>
    <div id="closeFixSyll" class="close">&times;</div>
</div>
