
<div id="fixSyll-box">
    <div class="center">
        <h1>Fix The Syllables Of :</h1>
        <% include divide-to-syllables.ejs %>
    </div>
    <div id="closeFixSyll" class="close">&times;</div>
</div>

