<div id="logInBox" class="popBox">
    <div class="popBox-content">
        <div id="login-box">
            <div class="left">
                <br/><h1>Log In</h1><br/>
                <input type="text" name="username" placeholder="Username" />
                <input type="password" name="password" placeholder="Password" />

                <input id="logIn" type="submit" name="logIn_submit" value="Log In" /><br/>
                <a id="goToSignUp" class="link" href="#">Don't have an account?<b> sign up</b></a>
            </div>

            <div class="right">
                <span class="loginwith">Log in with<br />social network</span>

                <button class="social-signin facebook">Log in with facebook</button>
                <button class="social-signin twitter">Log in with Twitter</button>
                <button class="social-signin google">Log in with Google+</button>
            </div>
            <div id="closeLogInBox" class="close">&times;</div>
            <div class="or">OR</div>
        </div>
    </div>

</div>