<div id="login-box" style=<%= ((typeof login !=='undefined')&&(login === true)) ? 'display:block' : 'display:none' %> isDisplay=<%= ((typeof login !=='undefined')&&(login === true))%>>
    <div class="left">
        <h1>Log In</h1><br/>
        <form>
            <input
                    id="loginEmail"
                    type="text"
                    name="email"
                    placeholder="Enter Email"
                    value="<%= typeof email != 'undefined'? email : '' %>"
            />
            <input
                    id="loginPassword"
                    type="password"
                    name="password"
                    placeholder="Enter Password"
            />
            <br/>
            <button type="button"
                    class="submitButton"
                    id="submitLogIn"
                    name="submit logIn"
                    value="Log In"
            >
                Log In
            </button><br/>
        </form>
        <a id="goToSignUp" class="link" href="#">Don't have an account?<b> sign up</b></a>
    </div>

    <div class="right">
        <span class="loginwith">Log in with<br />social network</span>

        <a  href="../../../auth/facebook" ><button id="facebook" class="social-signin facebook">Log in with facebook</button></a>
        <!--<button class="social-signin twitter">Log in with Twitter</button>--><!--todo-->
        <a  href="../../../auth/google" ><button id="google" class="social-signin google">Log in with Google+</button></a>

    </div>
    <div id="closeLogInBox" class="close">&times;</div>
    <div class="or">OR</div>
</div>
