<div id="menu">
    <ul class="menu-options">
        <li id='fixSyll' class="menu-option">Set The syllables</li>
        <li id='setSuond' class="menu-option">Set The Sound</li>
        <li id='seeWikipedia' class="menu-option">see in Wikipedia</li>
    </ul>
</div>
<div id='popBox' class="popBox">
    <div class="popBox-content">
        <% include fixSyllables.ejs%>
    </div>
    <% include wikipedia.ejs%>
</div>
<script src="/assets/js/menu.js"></script>
<script src="/assets/js/fixSyllables.js"></script>
<script src="/assets/js/wikipedia.js"></script>