<div id="menu">
    <ul class="menu-options">
        <li id='fixSyll' class="menu-option">Set The syllables</li>
        <li id='setSuond' class="menu-option">Set The Sound</li>
        <li id='seeWikipedia' class="menu-option">see in Wikipedia</li>
    </ul>
</div>