<div id="menu">
    <ul class="menu-options">
        <li id='fixSyll' class="menu-option">Fix The syllables</li>
        <li class="menu-option">Reload</li>
        <li class="menu-option">Save</li>
        <li class="menu-option">Save As</li>
        <li class="menu-option">Inspect</li>
    </ul>
</div>