
<div id='bar'>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="home"  href="#"><h1>TextNinja<span class="sr-only">(current)</span></h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul id="mainBar" class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a id="linkHome" class="nav-link home" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a id="linkAbout" class="nav-link about" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a id="linkContact" class="nav-link contact"  href="#">Contact Us</a>
                </li>
                <% if(typeof user == 'object' && user){%>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Practice</a>
                    <div class="dropdown-menu  bg-dark" aria-labelledby="dropdown04">
                        <ul>
                            <li class="nav-item">
                                <a id="simplePractice" class="nav-link" href="#">Simple practice</a>
                            </li>
                            <li class="nav-item">
                                <a id="dividePractice" class="nav-link" href="#">divide-practice</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Game 2</a>
                            </li>
                        </ul>
                    </div>
                </li>
                    <% } %>
            </ul>
            <ul class="navbar-nav float-left">
                <% if(typeof user == 'object' && user){%>
                        <li class="nav-item">
                        <a id="log_Out" href="/auth/logout" class="nav-link" href="#">Log Out</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a id="log_In" class="nav-link" href="#">Log In</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
</div>
