<div id='popBox' class="popBox">
    <div class="popBox-content">
        <% include logIn.ejs%>
        <% include signUp.ejs%>
        <% include fixSyllables.ejs%>
    </div>
    <% include wikipedia.ejs%>
</div>