<% include messages.ejs%>
<div id="signUp-box">
    <div class="left">
        <h1>Sign up</h1><br/>
        <form action="/auth/signUp" method="POST">
            <input type="text" name="username" placeholder="Username" value="<%= typeof username != 'undefined'? username :'' %>"/>
            <input type="text" name="email" placeholder="E-mail" value="<%= typeof email != 'undefined'? email : '' %>"/>
            <input type="password" name="password" placeholder="Password" />
            <input type="password" name="password2" placeholder="Retype password" />

            <input  id='submitSignUp' type="submit" name="signup_submit" value="Sign up" /><br/>
        </form>
        <a id="goToLogIn" class="link" href="#">Already have an account?<b> Log In</b></a>
    </div>
    <div class="right">
        <span class="loginwith">Log in with<br />social network</span>

        <button class="social-signin facebook">Log in with facebook</button>
        <button class="social-signin twitter">Log in with Twitter</button>
        <button class="social-signin google">Log in with Google+</button>
    </div>
    <div id="closeSignUpBox" class="close">&times;</div>
    <div class="or">OR</div>
</div>
