
<div id="signUp-box"   style=<%= ((typeof signUp !== 'undefined')&&(signUp === true)) ? 'display:block' : 'display:none' %>>
    <div class="left">
        <h1 class="logoLX">Sign up</h1><br/>
        <form>
            <input
                    id="singUpUserName"
                    type="text"
                    name="username"
                    placeholder="Username"
                    value="<%= typeof username != 'undefined'? username :'' %>"/>
            <input
                    id="singUpEmail"
                    type="text"
                    name="email"
                    placeholder="E-mail"
                    value="<%= typeof email != 'undefined'? email : '' %>"/>
            <input
                    id="singUpPassword"
                    type="password"
                    name="password"
                    placeholder="Password" />
            <input

                    id="singUpPassword2"
                    type="password"
                    name="password2"
                    placeholder="Retype password" />

            <button type="button"
                    class="submitButton"
                    id="submitSignUp"
                    name="submit sign up"
                    value="Sign up"
            >
                Sign up
            </button><br/>
        </form>
        <a id="goToLogIn" class="link" href="#">Already have an account?<b> Log In</b></a>
    </div>
    <div class="right">
        <span class="loginwith">Log in with<br />social network</span>

        <button class="social-signin facebook">Log in with facebook</button>
        <button class="social-signin twitter">Log in with Twitter</button>
        <button class="social-signin google">Log in with Google+</button>
    </div>
    <div id="closeSignUpBox" class="close">&times;</div>
    <div class="or">OR</div>
</div>
