<span id="buttons">
        <img id="speaker" class="button" src="/assets/icon/speaker32.png" title="speaker">
        <div class="dropdown">
          <img id="settings" title = 'settingsoff' class="button" src="/assets/icon/settings32off.png" title="settings">
          <div id="settings_content" title = 'settingsoff'  class="dropdown-none">
            <form>
               <a onclick = highlighting() href="">
                  <label id="label1" class="container2" for="highlighting">
                      <input id="highlighting"i type="checkbox">
                      <span class="checkmark" value="true">
                      </span>mark line
                      <button onclick = pick() id = "Pick" class="jscolor {valueElement: 'color_value'}">Pick a color</button>
                  </label>
              </a>
              <a href=""><label id= "label2" class="container2" for="syllables"><input id="syllables"i type="checkbox"><span class="checkmark"></span>Dissolution of syllables </label></a>
              <a href=""><label id= "label3" class="container2"><input id='bold' type="checkbox"><span class="checkmark"></span>on over a word in Beaulet </label></a>
              <a href="#"> Select Font size:on over a word in Beaulet
                <select id = "font_size" name="size">
                    <option value="12">12</option>
                    <option value="14">14</option>
                    <option value="16">16</option>
                    <option value="18">18</option>
                    <option value="20">20</option>
                </select>
              </a>
            </form>
          </div>
        </div>
        <img id="clear" class="button" src="/assets/icon/broom32.png" title="clear">
    </span>
<script src="/assets/js/tools.js"></script>