<div id="wikipedia-box">
    <div class="content">
        <div id="closeWikipedia" class="close">&times;</div>
        <h3 id="wiki-title" class="title" ></h3>
        <div id="wikiInfo" class="inner-content">

        </div>
    </div>

</div>
