<% include ../partials/popBox.ejs%>
<div class="content">
    <h3 class="title" >About Us</h3>
    <div class="inner-content">
        <h4>TextNinja</h4>
        <span id="aboutInfo">is a tool designed to help people with dyslexic to improve their reading abilities. Features such as automatic row highlighting, word parsing by syllables and text to speech etc.
        </span>
    </div>
</div>

<script src="/assets/js/about.js"></script>