<% include ../partials/popBox.ejs%>
<div id="textInput">
    <textarea id="textBox" dir=auto cols="30" rows="9" wrap="SOFT" spellcheck="false" placeholder="Insert text"></textarea>
    <% include ../partials/tools.ejs%>
</div>
<br/>
<div id="output" dir=auto class=""></div>

<script src="/assets/js/textBox.js"></script>