<% include ../partials/popBox.ejs%>
<div class="content">
    <h3 class="title" >Practice</h3>
    <div class="wrapper">
        <div id="wordsToPractice"></div>
        <span id="checkIfSafe"> Are you sure you want to delete? <span class="choose" id="yes">Yes</span><span class="choose" id="no">No</span></span>
        <span class="choose" id="delete"><img id="trash" src="/assets/icon/trash.png"> delete</span>
    </div>
</div>
<script src="/assets/js/practice.js"></script>